

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="/user/login" method="POST">
            <h1 class="text-center text-light display-4 my-4">Login Page</h1>
            <div class="form-group">
                <input type="email" name="email" placeholder="E-mail" class="form-control">
                <br>
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button style="position: relative;
            height: 35px;
            width: 100px;
            border: 1.5px solid #343434;
            border-radius: 13px;
            color: #343434;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;">Login</button>
        </form>
        <br>
        <a href="/user/signup" class="mt-4">Signup</a>
    </div>
    <div class="col-4"></div>
</div>