<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h1 class="text-center text-light my-4">Write Note</h1>
        <form action="/notes/write" method="POST">
            
            <div class="form-group">
                <input type="text" name="title" placeholder="Title" class="form-control">
                <br>
                <textarea type="text" name="text" placeholder="Type note here..." class="form-control"></textarea>
                <br>
                <input type="text" name="username" placeholder="Username" rows="3" class="form-control">
            </div>
            <button style="position: relative;
            height: 35px;
            width: 120px;
            border: 1.5px solid #343434;
            border-radius: 13px;
            color: #343434;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;">Create note</button>
        </form>
    </div>
    <div class="col-4"></div>
</div>